{
  "extends": "airbnb/base",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true,
    "browser": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true
  },
  "rules": {
    "strict": [2, "never"],
    "indent": [2, 2],
    "quotes": [2, "single"],
    "semi": [2, "never"]
  }
}
